section {
  padding: 30px 0;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/bg-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#profile {
	color: #fff;	
}